<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
 
<!-- Название у нас будет proudcts -->
{% block title %}
newspage
{% endblock title %}
 
<!-- В контенте на странице мы выводим сам товар, айди которого было передано в адрес -->
{% block content %}


<hr>
{% if newsonly %} <!-- Если есть товары, то выводим таблицу с ними -->
<table>
    <tr>
        <td>
            Заголовок
        </td>
        <td>
            Дата создания
        </td>
        <td>
            Текст
        </td>
    </tr>

    <tr>
        <td>
            {{ newsonly.title }} <!-- не забываем, что переменные в шаблоне ничем не отличаются от переменных в python. Здесь так же можно получать доступ к полям класса. Например, здесь мы выводим имя, в следующем столбце описание, и т.д.  -->
        </td>
        <td>
            {{ newsonly.dateCreation|date:'d-M-Y h:m' }}
        </td>

        <td>
            {{ newsonly.text }}
        </td>
        
    </tr>

</table>
{% else %}
<h2>Новостей нет!</h2>
{% endif %}

{% endblock content %}