<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

 
<!-- Название у нас будет proudcts -->
{% block title %}
newspage
{% endblock title %}
 
<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все новости</h1>
<h3> {{  newspage | length}} </h3>
<hr>
<!--{% if newspage %}  Если есть товары, то выводим таблицу с ними -->
<!-- Перед таблицей добавим форму для поиска 
<form method="GET">-->
    <!--{{ filter.form }}  Форму от фильтров за нас сделает Django. А вот кнопку, увы, придётся делать самому 
    <input type="submit" value="Найти">
</form> -->


<table>
    <tr>
        <td>
            Заголовок
        </td>
        <td>
            Дата создания
        </td>
        <td>
            Текст
        </td>
    </tr>
{% for np in newspage %} <!-- Для каждого товара будете генерироваться новая строчка, т.е. новый html код. При этом сам цикл работает точно так же, как и в python. product — переменная цикла, т.е. наш товар, взятый из общего списка -->
    <tr>
        <td>
            <a href="{% url 'news_detail' np.id %}">{{ np.title|censor:'this' }} </a><!-- не забываем, что переменные в шаблоне ничем не отличаются от переменных в python. Здесь так же можно получать доступ к полям класса. Например, здесь мы выводим имя, в следующем столбце описание, и т.д.  -->
            <a href="{% url 'news_edit' np.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
 
            <a href="{% url 'news_delete' np.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->

        
        </td>
        <td>
            {{ np.dateCreation|date:'d M Y' }}
        </td>

        <td>
            {{ np.text|truncatechars:50 |censor:'this'  }}
        </td>
        
    </tr>
{% endfor %}
</table>
<a href="{% url 'news_add' %}">Добавить новость</a> <br>
 <!-- Проверяем что поддерживается постраничный вывод -->
 {% if is_paginated %}
 
 <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
 {% if page_obj.has_previous %}
     <a href="?page=1">First</a>
     <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
 {% endif %}
 
 <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
 {% for num in page_obj.paginator.page_range %}
     {% if page_obj.number == num %}
         <a>{{ num }}</a>
     {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
         <a href="?page={{ num }}">{{ num }}</a>
     {% endif %}
 {% endfor %}
 
 <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
 {% if page_obj.has_next %}
     <a href="?page={{ page_obj.next_page_number }}">>>></a>
     <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
 {% endif %}
 
 {% endif %}
<!--
{% else %}
<h2>Новостей нет!</h2>
{% endif %}
-->

{% endblock content %}